* {
    margin: 0 auto;
    box-sizing: border-box;
    color: rgb(0, 255, 0);
}

#screen {
  background-color: rgb(5, 75, 5);
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 100vh;
  position: relative;
}

#scan {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

#content {
    font-family: VT323;
    padding: 10rem;
    color: aliceblue;
    font-size: 2rem;
    width: 40vw;
    height: 20vw;
}

h1 {
    padding: 5rem;
    align-self: center;
}

p {
    font-size: 1.3rem;
    padding: 1rem 1rem 1rem 2rem;
    align-self: center;
}

.btn_start_menu {
    color: rgb(30, 255, 0);
    background-color: rgb(0, 0, 0);
    width: 5vw;
    height: 5vh;
    border-radius: 1rem 0.5rem 1rem 0.5rem;
    cursor: pointer;
}

@font-face {
    font-family: 'CRTFont';
    src: url(DEADCRT.ttf);
}