/* Set default styles for the page */

html {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
    background: white;
  }
  
  /* Style the header */
  
  header {
    background-color: #00d0ff;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
  }

  #title {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  h1, h2, h3, p {
    margin: 0;
    color: white;
  }
  
  /* Style the navigation menu */
  

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #00d0ff9a
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    background-color: #00d0ff;
    color: #fff;
  }
  
  section {
    padding: 20px;
  }

  #main {
    padding-top: 0rem;
  }
  
  article {
    margin-bottom: 30px;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 12.5px 5px #f8f8f884;
    border-radius: 0.4rem 0.4rem;
    background:linear-gradient(to top left, #00d0ff9a, #16b4a943);
  }
  
  footer {
    background-color: #00d0ff;
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
    flex-shrink: 0;
    margin-top: auto;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  