/* Set default styles for the page */

html {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: white;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  color: var(--tint-100);
}

h2 {
  font-size: 1.6rem;
  color: var(--tint-90);
}

h3 {
 font-size: 1.4rem;
 color: var(--tint-80);
}

p {
  font-size: 1.2rem;
  color: var(--tint-70);
}

:root {
  --tint-10: #1a1a1a;  /* 10% tint */
  --tint-20: #333333;  /* 20% tint */
  --tint-30: #4d4d4d;  /* 30% tint */
  --tint-40: #666666;  /* 40% tint */
  --tint-50: #808080;  /* 50% tint */
  --tint-60: #999999;  /* 60% tint */
  --tint-70: #b3b3b3;  /* 70% tint */
  --tint-80: #cccccc;  /* 80% tint */
  --tint-90: #e5e5e5;  /* 90% tint */
  --tint-100: #f5f5f5; /* 100% tint (Near white) */
}

/* Example usage: */
/* Background color using a 50% tint (gray) */
body {
  background-color: var(--tint-20);
}

/* Text color using a 90% tint (light gray) */
p {
  color: var(--tint-80);
}

/* Border color using a 20% tint (dark gray) */
.card {
  border: 1px solid var(--tint-20);
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--tint-10);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.portfolio {
  max-height: 50vh;
}

/* Hover animation */
.button:hover {
  background-color: var(--tint-40);
  transform: scale(1.05);
}

.button > a {
  text-decoration: none;
  text-decoration-color: #ffffff;
}
  
  /* Style the header */
  
  header {
    background-color: var(--tint-30);
    color: var(--tint-90);
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
  }

  #title {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  h1, h2, h3, p {
    margin: 0;
  }
  
  /* Style the navigation menu */
  
  .fullscreen-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    z-index: -1;
    justify-content: center;
    background-color: var(--tint-20);
}

.fullscreen-bg__filter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.52); /* Adjust the opacity as needed */
}


.fullscreen-bg__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: opacity(0.7);
    filter: blur(0.8);
}

#portfolio-pagina {
  background-size: cover;
}

.arrow-button {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-bottom: 0.5rem;
  animation: floatingAnimation 3s ease infinite;
}

/* Keyframe animation for floating */
@keyframes floatingAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.arrow-button:hover {
  cursor: pointer;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  color: white;
  animation: fadein 3s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--tint-20);
  }

  /* Flex container styles */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align the flex container at the bottom */
  height: 100vh; /* Adjust the height of the parent container */
}

/* Image styles */
.flex-container img {
  max-width: 50%; /* Adjust this value to make the image smaller */
  height: auto;
}

  iframe {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 1rem;
    max-height: 100vh;
  }
  
  figure {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 420px;
    margin: 20px;
    padding: 16px;
    background-color: #f9f9f9;
  }

  .cardlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    background-color: #00d0ff;
    color: #fff;
  }
  
  section {
    padding: 20px;
  }

  #main {
    padding-top: 0rem;
  }
  
  article {
    margin-bottom: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0.4rem 0.4rem;
    background: var(--tint-40);
  }
  
  footer {
    background-color: var(--tint-30);
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
    flex-shrink: 0;
    margin-top: auto;
  }
  
  footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  /* Keyframe animation for smoother fade transition */
@keyframes fadeOutAnimation {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* Apply the keyframe animation */
.fade-out {
  animation: fadeOutAnimation 0.5s ease-in-out;
}

@keyframes slideInAnimation {
  0% {
      background-position: 100% center;
      opacity: 0;
  }
  100% {
      background-position: center center;
      opacity: 1;
  }
}

@keyframes slideOutAnimation {
  0% {
      background-position: center center;
      opacity: 1;
  }
  100% {
      background-position: -100% center;
      opacity: 0;
  }
}

/* Add custom styles for the carousel */
.fullscreen-bg__image {
  display: flex;
  overflow: hidden;
  width: 100%;
  transition: transform 0.5s ease-in-out; /* Add smooth transition for the slide effect */
}

.fullscreen-bg__image img {
  width: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s; /* Add smooth transition for zoom effect */
}

/* Add fade-in and scale-up animation to cards on hover */
.card {
  opacity: 0;
  background: var(--tint-30);
  transform: scale(0.9);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card:hover {
  opacity: 1;
  transform: scale(1);
}

/* Keyframes for card fade-in animation */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Apply the fade-in animation to the cards with a slight delay */
.card:nth-child(odd) {
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}

.card:nth-child(even) {
  animation: fadeIn 1s ease-in-out 1s forwards;
}


/* Responsiviteit
/* Add these CSS rules at the end of your existing styles (master.css) */

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  /* Adjust font size for smaller screens */
  html {
    font-size: 14px;
  }
  
  /* Center align content on smaller screens */
  .content {
    text-align: center;
  }

  /* Make the arrow button smaller on smaller screens */
  .arrow-button {
    padding-bottom: 0.3rem;
  }

  /* Adjust padding for cards on smaller screens */
  .card {
    padding: 10px;
  }

  /* Adjust grid layout for cards on smaller screens */
  .cardlist {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Responsive styles for larger screens */
@media (min-width: 1200px) {
  /* Adjust font size for larger screens */
  html {
    font-size: 18px;
  }

  /* Make the arrow button larger on larger screens */
  .arrow-button {
    padding-bottom: 0.7rem;
  }

  /* Adjust padding for cards on larger screens */
  .card {
    padding: 20px;
  }

  /* Adjust grid layout for cards on larger screens */
  .cardlist {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Additional responsive adjustments can be added based on your design needs */


  