/* Set default styles for the page */

html {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
    background: white;
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.portfolio {
  max-height: 50vh;
}

/* Hover animation */
.button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.button > a {
  text-decoration: none;
  text-decoration-color: #ffffff;
}
  
  /* Style the header */
  
  header {
    background-color: #00d0ff;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
  }

  #title {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  h1, h2, h3, p {
    margin: 0;
    color: white;
  }
  
  /* Style the navigation menu */
  
  .fullscreen-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fullscreen-bg__filter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
}


.fullscreen-bg__image {
    background-image: url('Homepagina.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#portfolio-pagina {
  background-image: url("Afbeelding1.png");
  background-size: cover;
}

.arrow-button {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding-bottom: 0.5rem;
  animation: floatingAnimation 3s ease infinite;
}

/* Keyframe animation for floating */
@keyframes floatingAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.arrow-button:hover {
  cursor: pointer;
}

.arrow-button::content {

}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  color: white;
  animation: fadein 3s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #00d0ff9a;
  }

  /* Flex container styles */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align the flex container at the bottom */
  height: 100vh; /* Adjust the height of the parent container */
}

/* Image styles */
.flex-container img {
  max-width: 50%; /* Adjust this value to make the image smaller */
  height: auto;
}

  iframe {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 1rem;
    max-height: 100vh;
  }
  
  figure {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 420px;
    margin: 20px;
    padding: 16px;
    background-color: #f9f9f9;
  }

  .cardlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    background-color: #00d0ff;
    color: #fff;
  }
  
  section {
    padding: 20px;
  }

  #main {
    padding-top: 0rem;
  }
  
  article {
    margin-bottom: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 12.5px 5px #f8f8f884;
    border-radius: 0.4rem 0.4rem;
    background:linear-gradient(to top left, #00d0ff9a, #16b4a943);
  }
  
  footer {
    background-color: #00d0ff;
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
    flex-shrink: 0;
    margin-top: auto;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  